/* shopping cart button */
.cart-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo-container {
    margin-right: 10px;
}

.logo {
    display: block;
    max-width: 100%;
    height: auto;
}

.title {
    margin: 0;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

td span:first-child {
    font-size: 18px;
    font-weight: 550;
}

.radio-groups {
    display: flex;
}

.radio-group {
    margin-right: 100px;
}

.radio-group label {
    display: block;
}

.option-price-container {
    display: flex;
}